/* generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    width: 70%;
    margin: auto;
}

h1 {
    font-size: 5em;
}


/* header */

#top-bar {
    z-index: 999;
    position: fixed;
    top: 0;
    min-width: 900px;
    width: 100vw;
    background-color: #FFF;
    text-align: center;
}
#top-bar > .container {
    display: flex;
    width: 100%;
    margin: 30px auto;
    padding: 0 20px;
    justify-content: space-between;
    gap: 15px;
}

#top-bar .logo {
    height: 25px;
}

#top-bar nav ul {
    list-style: none;
    display: inline-block;
}

#top-bar nav:nth-child(2) {
    margin-right: auto;
}

#top-bar nav ul li {
    display: inline-block;
    margin: auto 20px;
}

.blue-button {
    padding: 10px 20px;
    background-color: #0061FF;
    color: #FFF;
    text-align: center;
}

#jumbo {
    position: static;
    background-color: #B4D0E7;
    padding-top: 150px;
    margin-bottom: -100px;
}

#jumbo > .container {
    width: 85%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#jumbo > .container * {
    margin-bottom: 50px;
}

#jumbo h1 {
    display: block;
    flex-basis: 100%;
}

#jumbo > .container > div {
    width: 30%;
}

#jumbo .annulla {
    margin-top: 15px;
    font-size: 0.8em;
}

#jumbo img {
    width: 70%;
}

#jumbo .fas {
    font-size: 3em;
}

/* main */


